---
---
<!DOCTYPE html>
<html>
  
  <head>
    
    {% include head.html %}
    <title>Amanda Smith - Artist and Designer</title>
      
  </head>

  <body>
    <main role="main">

        <div class="o-row u-bg--image-door">
            <section class="o-row--1200 o-row--v-padding u-padding--w-20-120">
                <header class="u-text--shadow">
                <h1 class="u-row-header">Amanda Smith</h1>
                <p class="u-text--center u-text--large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla tincidunt commodo.</p>
                </header>
            </section>
        </div>

        <div class="o-row">
            <nav>
                <ul class="c-site-nav__list u-bg--maroon">
                    <li><a class="c-site-nav__link c-site-nav__link--home" href="/artwork/">Artwork</a></li>
                    <li><a class="c-site-nav__link c-site-nav__link--home" href="/design/">Design</a></li>
                    <li><a class="c-site-nav__link c-site-nav__link--home" href="/about/">About</a></li>
                </ul>
            </nav>
        </div>
      
    </main>

    {% include footer.html %}

  </body>

</html>
