/*--BROWSER COMPATIBILITY HACKS--*/

//IE
_:-ms-input-placeholder, :root .o-two-col__right--mobile {margin-left: 1.25rem;}

//IE and Edge
_:-ms-lang(x), .c-site-nav__list { justify-content: space-around; }
_:-ms-lang(x), .u-row-header {text-align: center;}




/*--MEDIA QUERIES--*/
@media only screen and (min-width: 600px) {

  //IE
  _:-ms-input-placeholder, :root .o-two-col__right {margin-left: 1.25rem;}

  _:-ms-input-placeholder, :root .o-two-col__right .o-two-col__right--artwork {margin-left: 1.25rem;}

}

@media only screen and (min-width: 768px) {

  //IE
  _:-ms-input-placeholder, :root .o-three-col__middle {margin-left: 1.25rem;}

  _:-ms-input-placeholder, :root .o-three-col__right {margin-left: 1.25rem;}

}