<!DOCTYPE html>
<html>
  
  <head>
    
      <meta charset="utf-8">
      <title>{{ page.title }} | Amanda Smith - Artist and Designer</title>
      <link href="/css/style.css" rel="stylesheet" type="text/css">
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#00aba9">
      <meta name="theme-color" content="#ffffff">
      
  </head>

  <body>
    <div class="o-row o-row--1200 u-padding--20">
      <header class="o-layout__header">

        <div class="c-name">
          <p class="c-name__name">Amanda Smith</p>
          <p class="c-name__subtext">Artist &amp; Designer</p>
        </div>

        <nav role="navigation" class="c-site-nav">
            <ul class="c-site-nav__list">
              {% for item in site.data.navigation.docs %}
                <li>
                  <a class="c-site-nav__link {% if item.url == page.url %}c-site-nav__link--active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>

      </header>
    </div>

    <main role="main">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
